absl-py==2.1.0
accelerate==0.31.0
aeiou==0.0.20
aiobotocore==2.13.0
aiofiles==23.2.1
aiohttp==3.9.5
aioitertools==0.11.0
aiosignal==1.3.1
alias-free-torch==0.0.6
altair==5.3.0
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argbind==0.3.9
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
auraloss==0.4.0
azure-ai-agents==1.1.0
azure-ai-projects==1.0.0
azure-core==1.36.0
azure-identity==1.25.1
azure-storage-blob==12.27.1
beautifulsoup4==4.14.2
bleach==6.1.0
bokeh==3.4.1
boto3==1.34.106
botocore==1.34.106
braceexpand==0.1.7
cachetools==5.5.1
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.3.1
clean-fid==0.1.35
click==8.1.7
clip-anytorch==2.6.0
colorcet==3.1.0
coloredlogs==15.0.1
configparser==7.0.0
contourpy==1.2.0
cryptography==46.0.2
cycler==0.12.1
dataclasses-json==0.6.2
dctorch==0.1.2
decorator==5.1.1
defusedxml==0.7.1
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
docker-pycreds==0.4.0
docstring_parser==0.16
einops==0.7.0
einops-exts==0.0.4
ema-pytorch==0.2.3
encodec==0.1.1
executing==2.0.1
fastapi==0.103.2
fastcore==1.5.45
ffmpy==0.3.2
filelock==3.13.0
fire==0.6.0
flatbuffers==25.9.23
flatten-dict==0.4.2
fonttools==4.46.0
frozenlist==1.4.0
fsspec==2024.6.0
ftfy==6.2.0
future==1.0.0
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gradio_client==1.0.1
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
h11==0.14.0
h5py==3.11.0
holoviews==1.18.3
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.3
humanfriendly==10.0
idna==3.4
imageio==2.34.1
importlib-resources==5.12.0
iniconfig==2.0.0
ipython==8.25.0
isodate==0.7.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.4.2
jsonmerge==1.9.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
julius==0.2.7
k-diffusion==0.1.1
kiwisolver==1.4.5
kornia==0.7.2
kornia_rs==0.1.3
laion-clap==1.1.4
langchain==0.0.336
langsmith==0.0.64
lazy_loader==0.4
librosa==0.9.2
lightning-utilities==0.11.2
linkify-it-py==2.0.3
llvmlite==0.42.0
local-attention==1.8.6
magika==0.6.2
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.4.13
markdownify==1.2.0
-e git+https://github.com/microsoft/markitdown.git@8a9d8f15936b2068bcb39ccc8d3b317f93784d86#egg=markitdown&subdirectory=packages/markitdown
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.1
mdurl==0.1.2
monotonic-align @ git+https://github.com/resemble-ai/monotonic_align.git@78b985be210a03d08bc3acc01c4df0442105366f
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
multidict==6.0.4
munch==4.0.0
mypy-extensions==1.0.0
networkx==3.2
numba==0.59.1
numpy==1.26.4
onnxruntime==1.23.1
orjson==3.10.4
packaging==23.2
pandas==2.0.2
panel==1.4.4
param==2.1.0
parso==0.8.4
pathtools==0.1.2
pdfminer.six==20250506
pedalboard==0.7.4
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.2.2
plotly==5.22.0
pluggy==1.3.0
pooch==1.8.2
prefigure==0.0.9
progressbar==2.5
prompt_toolkit==3.0.47
proto-plus==1.26.0
protobuf==5.29.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.4.2
pydantic_core==2.10.1
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.10.1
pyloudnorm==0.1.1
pynndescent==0.5.12
pyparsing==3.1.1
pystoi==0.4.1
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.1.1
python-multipart==0.0.9
pytorch-lightning==2.1.0
pytz==2024.1
pyviz_comms==3.0.2
PyWavelets==1.4.1
PyYAML==6.0.1
randomname==0.2.1
referencing==0.35.1
regex==2024.5.15
requests==2.31.0
resampy==0.4.3
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
ruff==0.4.8
s3fs==2024.6.0
s3transfer==0.10.1
safetensors==0.4.3
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.5.1
setproctitle==1.3.3
shapely==2.0.7
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
SoundFile==0.10.2
soupsieve==2.8
SQLAlchemy==2.0.23
stack-data==0.6.3
starlette==0.27.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.17.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.22
tokenizers==0.19.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.3.1
torch-stoi==0.2.1
torchaudio==2.3.1
torchdiffeq==0.2.4
torchlibrosa==0.1.0
torchmetrics==0.11.4
torchsde==0.2.6
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
trampoline==0.1.2
transformers==4.41.2
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.15.0
tzdata==2024.1
uc-micro-py==1.0.3
umap-learn==0.5.6
urllib3==1.26.18
uvicorn==0.24.0.post1
v-diffusion-pytorch==0.0.2
vector-quantize-pytorch==1.9.14
wandb==0.15.4
wcwidth==0.2.13
webdataset==0.2.48
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.3
wget==3.2
wrapt==1.16.0
x-transformers==1.26.6
xyzservices==2024.6.0
yarl==1.9.2
